@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-image: url(../img/fondo.jpg);
}

header {
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

section {
    padding: 0 0 20px 0;
    background-color: #eeeeee;
    width: 80%;
    margin: 20px auto 100px auto;
    box-shadow: 5px 5px 20px black;
    border-radius: 7px;
    border-top: solid black 45px;
}

.container{
    background-color: #222;
    margin: 30px auto;
    border-radius: 5px;
}

/* barra de busqueda */

.search {
    position: absolute;
    transform: translate(-50%, 50%);
    margin: 0 0 35px 160px;
}

input.src {
    padding: 5px 10px 5px 32px;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #f95303;
    background: #fff url(../img/search-icon.png) no-repeat 9px center;
    width: 120px;
    transition: all .5s;
}

input.src:hover {
    width: 200px;
    background-color: #fff;
    border-color: #d14701;
    box-shadow: 4px 4px 10px #444;
}

.box_text {
    background: #fff;
    width: 220px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.button_search {
    width: 70px;
    height: 30px;
    border-radius: 0 25px 25px 0;
    left: -5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f95303;
    color: #fff;
}

.button_search:hover {
    background: #d14701;
}

/* menu */

.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: white;
}

.menu__side {
    width: 80px;
    height: 100%;
    background: #f95303;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #f95303;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* ocultar scroll para chrome, safari y opera */

.menu__side::-webkit-scrollbar {
    display: none;
}

/* ocultar scroll para IE, Edge y Firefox */

.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    font-size: 1em;
    cursor: pointer;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/* WAVE inicio */

.container_wave {
    width: 100%;
    padding-bottom: 120px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.bg_color {
    width: 100%;
    height: 20%;
    background: #222;
    position: absolute;
    top: 0;
}

.wave {
    width: 6000px;
    height: 150%;
    position: absolute;
    top: 44px;
    left: 0;
    background-image: url(../img/wd1.svg);
    background-position: bottom;
}

.w1 {
    animation: w1 7s linear infinite;
}

.w2 {
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}

@keyframes w1 {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {

    0%,
    100% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(10px);
    }
}

/* COVER */

.cover {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container__cover {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
    animation: move_vector 18s ease-in-out infinite;
}

.cover .container__info {
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1 {
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}

.cover h2 {
    font-size: 60px;
    font-weight: 900;
    color: #FEBA0B;
    margin-top: -42px;
    margin-left: 10px;
}

.cover p {
    margin-top: 10px;
    color: #373737;
}

.cover button {
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #FEBA0B;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover button:hover {
    box-shadow: 1px 1px 30px -5px #20202085;
}

.container__vector {
    position: relative;
}

.container__vector img {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 400px;
    border-radius: 10px;
    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;
}


@keyframes move_vector {
    0% {
        transform: translateY(10px);
    }

    25% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@media screen and (max-width: 920px) {
    .container__vector img {
        width: 500px;
    }
}


@media screen and (max-width: 760px) {

    .container__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu {
        display: flex;
    }
}

/* Filtro */

.main input[type="radio"] {
    display: none;
}

.container-category {
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-category label {
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #f95303;
    border-radius: 10px;
    border: solid #d14701 3px;
    cursor: pointer;
}

.container-category label:hover {
    opacity: 0.8;
}

/* content */

.container__card {
    max-width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    position: relative;
    margin: 60px 10px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover {
    margin-top: 100px;
    box-shadow: 10px 10px 20px -10px #20202049;
}

.card:hover .info__description {
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(214, 214, 214);
}

.card:hover .icon {
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(214, 214, 214);
}

.icon {
    width: 100%;
    height: 250px;
    background: rgb(230, 230, 230);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.icon img {
    width: 170px;
    max-height: 240px;
    border-radius: 20px;
    margin: 30px 0 30px 0;
}

.info__description {
    width: 100%;
    height: 280px;
    color: black;
    background: rgb(230, 230, 230);
    padding: 10px;
    margin-top: -300px;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.info__description h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
}

.info__description p {
    font-size: 15px;
    margin-top: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.info__description span {
    font-weight: 900;
}

.info__description button {
    margin-top: 20px;
    padding: 10px 40px;
    background: #f95303;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description a {
    color: white;
}

.info__description input:hover {
    box-shadow: 1px 1px 30px -5px #20202070;
}

/* siguiente paguina */

.nex_page{
    text-align: center;
}

.nex_page button{
    background-color: #f95303;
    border-radius: 100%;
    padding: 15px 20px;
    margin: 5px 10px;
    cursor: pointer;
    border: none;
}

.nex_page .actual{
    background-color: #FEBA0B;
    border: 3px #FEBA0B solid;
}

.nex_page button a{
    font-size: 15px;
    color: white;
}

.nex_page .actual:hover{
    border: 3px #d89d08 solid;
    transition: 500ms;
}

.nex_page button:hover{
    box-shadow: 1px 1px 30px gray;
    border: 3px #d14701 solid;
    transition: 500ms;
}

/* estilos para contenido las paginas libro */

.info__libros .portada_libro {
    position:absolute;
    width:200px;
    margin:10px;
}

.info__libros .description_libro {
    margin-left:220px;
    padding: 20px;
}

.info__libros .description_libro h3{
    margin: 10px 0;
}

.info__libros .description_libro span{
    color: #f95303;
    font-weight: 600;
    margin-right: 5px;
}

.info__libros .description_libro p{
    font-weight: 600;
}

.info__libros .portada_libro img {
    width: 100%;
    border-radius: 10px;
}

.info__libros button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px 40px;
    background: #f95303;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 10px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__libros a {
    color: white;
}

#disqus_thread{
    background-color: white;
}

/*clases para usar en JavaScript*/

.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}

/*Boton de ir arriba*/

.button-up {
    width: 60px;
    height: 60px;
    background: #f95303;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
    z-index: 2;
}

.button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/*Iconos de las redes sociales*/

.container-redes {
    position: fixed;
    bottom: 200px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.container-redes a {
    margin-top: 4px;
}

.container-redes img {
    width: 60px;
    padding: 4px;
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
}

.container-redes a:hover img {
    background: rgba(0, 0, 0, 0.2);
}

/*Aquí debajo va el FOOTER*/

footer {
    width: 100%;
    padding: 50px 0px;
    background-color: #222;
    -webkit-mask-image: url("../img/background-footer.svg");
    mask-image: url("../img/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 100px;
    border-radius: 10px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: white;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__footer img {
    width: 20px;
}

.box__footer span {
    margin-left: 2px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: white;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*sistema de filtrado*/

[value="0"]:checked~.posts .post[data-category] {
    display: block;
}

[value="1"]:checked~.container__card .card:not([data-category~="1"]),
[value="2"]:checked~.container__card .card:not([data-category~="2"]),
[value="3"]:checked~.container__card .card:not([data-category~="3"]),
[value="4"]:checked~.container__card .card:not([data-category~="4"]),
[value="5"]:checked~.container__card .card:not([data-category~="5"]),
[value="6"]:checked~.container__card .card:not([data-category~="6"]),
[value="7"]:checked~.container__card .card:not([data-category~="7"]),
[value="8"]:checked~.container__card .card:not([data-category~="8"]) {
    display: none;
}

[value="0"]:checked~.container-category [for="0"],
[value="1"]:checked~.container-category [for="1"],
[value="2"]:checked~.container-category [for="2"],
[value="3"]:checked~.container-category [for="3"],
[value="4"]:checked~.container-category [for="4"],
[value="5"]:checked~.container-category [for="5"],
[value="6"]:checked~.container-category [for="6"],
[value="7"]:checked~.container-category [for="7"],
[value="8"]:checked~.container-category [for="8"] {
    background: #FEBA0B;
    border: none;
    color: #fff;
    transition: all 500ms;
}

@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }

    .container__vector img {
        display: none;
    }

    .info__libros .portada_libro{
        position: relative;
        margin: auto;
        top: 20px;
    }

    .info__libros .description_libro {
        margin-left: 0;
    }
}

@media screen and (max-width: 921px) {
    .container__vector img {
        width: 350px;
    }
}